<style>

  .bg-nav {

    background-color: #132e70;
  }

</style>


<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-nav">
  <div class="container">

    <a class="navbar-brand fw-bold text-white d-flex align-items-center gap-2" href="/">
      <i class="bi bi-database-fill-gear"></i>
      Py Auto Migrate
    </a>

    <button class="navbar-toggler border-0 shadow-none" type="button"
      data-bs-toggle="collapse" data-bs-target="#nav"
      aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">

      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2 mt-3 mt-lg-0">

        <li class="nav-item">
          <a class="nav-link text-light px-2 rounded hover-opacity" href="/migrate">
            Migrate
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light px-2 rounded hover-opacity"
             target="_blank"
             href="https://github.com/kasrakhaksar/py-auto-migrate">
            Github
          </a>
        </li>

        <li class="nav-item mt-2 mt-lg-0 ms-lg-2">
          <a href="https://github.com/kasrakhaksar/py-auto-migrate/releases"
             target="_blank"
             class="btn btn-primary w-100 w-lg-auto">
            Download
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>